include mixins/mixin
include mixins/modal
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Delivery Food - доставка еды на дом
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			.wrapper
				header.header
					.header__top
						.header__logo.header__item
							a.logo(href="./")
								+svg('logo', 'logo__icon') 
						.header__search.header__item
							.search
								.search__icon
									+svg('home', 'search__icon-pic')
								input.input.search__input(type="text" placeholder="Адрес доставки")
						.header__buttons.header__item
							.buttons
								a.button.button_primary.header__button.modal__link(href="#demostration")
									.button__content
										+svg('user', 'button__icon')
										span Войти
								a.button.modal__link.header__button(href="#modal")
									.button__content
										+svg('basket', 'button__icon')
										span Корзина
				
			main.content
				.wrapper
					section.hero
						.hero__bg
							+webp('hero__pic', 'bg', 'png', 'bg')
						h1.hero__title Онлайн сервис <br> доставки еды на дом
						p.hero__text Блюда из любимого ресторана привезет курьер в перчатках, маске и с антисептиком
					section.restaurants
						.section__heading
							h2.section__title.section__item Рестораны
							.search.section__search.section__item
								.search__icon
									+svg('search', 'search__icon-pic')
								input.input.search__input(type="text" placeholder='Поиск блюд и ресторанов')
						.cards
							a.card(href="./rest.html")
								.card__bg
									+webp('card__img', 'food-2', 'png', 'food')
								.card__text
									.card__heading
										h3.card__title Тануки
										span.card__tag.tag 50 мин
									.card__info
										.card__rating.rating.card__info_item 
											+svg('star', 'rating__icon')
											span.rating__text 4.5
										.card__price.card__info_item От 900 Р
							a.card.modal__link(href="#demostration")
								.card__bg
									+webp('card__img', 'food-1', 'png', 'food')
								.card__text
									.card__heading
										h3.card__title Пицца плюс
										span.card__tag.tag 50 мин
									.card__info
										.card__rating.rating 
											+svg('star', 'rating__icon')
											span.rating__text 4.5
										.card__price От 900 Р
										.card__category Пицца

							

							a.card.modal__link(href="#demostration")
								.card__bg
									+webp('card__img', 'food-3', 'png', 'food')
								.card__text
									.card__heading
										h3.card__title FoodBand
										span.card__tag.tag 50 мин
									.card__info
										.card__rating.rating 
											+svg('star', 'rating__icon')
											span.rating__text 4.5
										.card__price От 900 Р
										.card__category Пицца

							a.card.modal__link(href="#demostration")
								.card__bg
									+webp('card__img', 'food-4', 'png', 'food')
								.card__text
									.card__heading
										h3.card__title PizzaBurger
										span.card__tag.tag 50 мин
									.card__info
										.card__rating.rating 
											+svg('star', 'rating__icon')
											span.rating__text 4.5
										.card__price От 900 Р
										.card__category Пицца

							a.card.modal__link(href="#demostration")
								.card__bg
									+webp('card__img', 'food-5', 'png', 'food')
								.card__text
									.card__heading
										h3.card__title Жадина-пицца
										span.card__tag.tag 50 мин
									.card__info
										.card__rating.rating 
											+svg('star', 'rating__icon')
											span.rating__text 4.5
										.card__price От 900 Р
										.card__category Пицца

							a.card.modal__link(href="#demostration")
								.card__bg
									+webp('card__img', 'food-6', 'png', 'food')
								.card__text
									.card__heading
										h3.card__title Точка еды
										span.card__tag.tag 50 мин
									.card__info
										.card__rating.rating 
											+svg('star', 'rating__icon')
											span.rating__text 4.5
										.card__price.card__info_item От 900 Р
										.card__category.card__info_item Пицца



				footer.footer
					.wrapper
						.footer__body
							.footer__logo.footer__body_item
								a.logo(href="./")
									+svg('logo', 'logo__icon')
							nav.footer__nav.footer__body_item
								a.footer__link.modal__link(href="#demostration") Ресторанам 
								a.footer__link.modal__link(href="#demostration") Курьерам
								a.footer__link.modal__link(href="#demostration") Прессцентр
								a.footer__link.modal__link(href="#demostration") Контакт
							.footer__social.footer__body_item
								.social
									a.social__link.modal__link(href="#demostration")
										+svg('vk', 'social__icon')
									a.social__link.modal__link(href="#demostration")
										+svg('twitter', 'social__icon')
									a.social__link.modal__link(href="#demostration")
										+svg('instagram', 'social__icon')

			+modal('modal')
			.modal#demostration(data-modal="data-modal")
				.modal__overlay(data-close='true')
					.modal__window
						.modal__header
							span.modal__title.hidden Корзина
							span.modal__close(data-close="true") &times;
						.modal__body
							p.modal__body_txt Данная версия сайта носит демонстрационный характер



		script(src="static/js/main.js")