include mixins/mixin
include mixins/modal

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Delivery Food - доставка еды на дом
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.wrapper
			header.header
				.header__top
					.header__logo.header__item
						a.logo(href="./")
							+svg('logo', 'logo__icon') 
					.header__search.header__item
						.search
							.search__icon
								+svg('home', 'search__icon-pic')
							input.input.search__input(type="text" placeholder="Адрес доставки")
					.header__buttons.header__item
						.buttons
							a.button.button_primary.header__button.modal__link(href="#demostration")
								.button__content
									+svg('user', 'button__icon')
									span Войти
							a.button.modal__link.header__button(href="#modal")
								.button__content
									+svg('basket', 'button__icon')
									span Корзина
			
		main.content
			.wrapper
				
				section.restaurants
					.section__heading
						h2.section__title.section__item Тануки
						.section__info.section__item
							.card__info
								.card__rating.rating.card__info_item 
									+svg('star', 'rating__icon')
									span.rating__text 4.5
								.card__price.card__info_item От 900 Р
								.card__category.card__info_item Пицца
					.cards
						.card.modal__link(href="#demostration")
							.card__bg
								+webp('card__img', 'image', 'png', 'food')
							.card__text
								.card__heading.card__tovar
									h3.card__title.card-prod__title Ролл угорь стандарт
									.card__category.card__info_item.card__sost Рис, угорь, соус унаги, кунжут, водоросли нори.
								.card__buy

									a.card__button.button.button_primary.card__buy_item(href='#')

										.button__content
											+svg('basket', 'button__icon')
											span В корзину

									span.card__pricing.card__buy_item 250 ₽
								

						.card.modal__link(href="#demostration")
							.card__bg
								+webp('card__img', 'image-(1)', 'png', 'food')
							.card__text
								.card__heading.card__tovar
									h3.card__title.card-prod__title Калифорния лосось стандарт
									.card__category.card__info_item.card__sost Рис, лосось, авокадо, огурец, майонез, икра масаго, водоросли нори.
								.card__buy
									a.card__button.button.button_primary.card__buy_item(href='#')
										.button__content
											+svg('basket', 'button__icon')
											span В корзину
									span.card__pricing.card__buy_item 250 ₽

								

						.card.modal__link(href="#demostration")
							.card__bg
								+webp('card__img', 'image-(2)', 'png', 'food')
							.card__text
								.card__heading.card__tovar
									h3.card__title.card-prod__title Окинава стандарт
									.card__category.card__info_item.card__sost  Рис, креветка отварная, сыр сливочный, лосось, огурец свежий...
								.card__buy
									a.card__button.button.button_primary.card__buy_item(href='#')
										.button__content
											+svg('basket', 'button__icon')
											span В корзину
									span.card__pricing.card__buy_item 250 ₽

								

						.card.modal__link(href="#demostration")
							.card__bg
								+webp('card__img', 'image-(3)', 'png', 'food')
							.card__text
								.card__heading.card__tovar
									h3.card__title.card-prod__title Цезарь маки хl
									.card__category.card__info_item.card__sost Рис, куриная грудка копченая, икра масаго, томат, айсберг, соус цезарь...
								.card__buy
									a.card__button.button.button_primary.card__buy_item(href='#')
										.button__content
											+svg('basket', 'button__icon')
											span В корзину
									span.card__pricing.card__buy_item 250 ₽

								

						.card.modal__link(href="#demostration")
							.card__bg
								+webp('card__img', 'image-(4)', 'png', 'food')
							.card__text
								.card__heading.card__tovar
									h3.card__title.card-prod__title Ясай маки стандарт 185 г
									.card__category.card__info_item.card__sost Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг
								.card__buy
									a.card__button.button.button_primary.card__buy_item(href='#')
										.button__content
											+svg('basket', 'button__icon')
											span В корзину
									span.card__pricing.card__buy_item 250 ₽

								

						.card.modal__link(href="#demostration")
							.card__bg
								+webp('card__img', 'image-(5)', 'png', 'food')
							.card__text
								.card__heading.card__tovar
									h3.card__title.card-prod__title Ролл с креветкой стандарт
									.card__category.card__info_item.card__sost Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы
								.card__buy
									a.card__button.button.button_primary.card__buy_item(href='#')
										.button__content
											+svg('basket', 'button__icon')
											span В корзину
									span.card__pricing.card__buy_item 250 ₽

								



			footer.footer
				.wrapper
					.footer__body
						.footer__logo.footer__body_item
							a.logo(href="./")
								+svg('logo', 'logo__icon')
						nav.footer__nav.footer__body_item
							a.footer__link.modal__link(href="#demostration") Ресторанам 
							a.footer__link.modal__link(href="#demostration") Курьерам
							a.footer__link.modal__link(href="#demostration") Прессцентр
							a.footer__link.modal__link(href="#demostration") Контакт
						.footer__social.footer__body_item
							.social
								a.social__link.modal__link(href="#demostration")
									+svg('vk', 'social__icon')
								a.social__link.modal__link(href="#demostration")
									+svg('twitter', 'social__icon')
								a.social__link.modal__link(href="#demostration")
									+svg('instagram', 'social__icon')
			+modal('modal')
			.modal#demostration(data-modal="data-modal")
				.modal__overlay(data-close='true')
					.modal__window
						.modal__header
							span.modal__title.hidden Корзина
							span.modal__close(data-close="true") &times;
						.modal__body
							p.modal__body_txt Данная версия сайта носит демонстрационный характер
		script(src="static/js/main.js")

			

			